extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href='/createpatientprofile') Click to create a Patient login!
  br
  a(href='/createrelativeprofile') Click to create a Relative login!
